ops/n8n/newapi-workflows.json
[
  {
    "active": false,
    "connections": {
      "Manual Trigger": {
        "main": [
          [
            {
              "index": 0,
              "node": "SSH: NewAPI Status",
              "type": "main"
            }
          ]
        ]
      }
    },
    "id": "RTOCNewAPIStatusV2",
    "meta": null,
    "name": "RTOC New API / 00 Status",
    "nodes": [
      {
        "id": "newapi-v2-status-trigger",
        "name": "Manual Trigger",
        "parameters": {},
        "position": [
          0,
          0
        ],
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1
      },
      {
        "credentials": {
          "sshPrivateKey": {
            "id": "RTOCNewAPIDeploySSH001",
            "name": "RTOC NewAPI Deploy SSH"
          }
        },
        "id": "newapi-v2-status-ssh",
        "name": "SSH: NewAPI Status",
        "parameters": {
          "authentication": "privateKey",
          "command": "status",
          "cwd": "/",
          "operation": "execute",
          "resource": "command"
        },
        "position": [
          280,
          0
        ],
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1
      }
    ],
    "pinData": null,
    "settings": {
      "callerPolicy": "workflowsFromSameOwner",
      "executionOrder": "v1",
      "saveExecutionProgress": true,
      "saveManualExecutions": true
    },
    "staticData": null,
    "tags": [],
    "versionId": "9bbcc1c7-e480-4db6-9e04-b646ff22f792"
  },
  {
    "active": false,
    "connections": {
      "Build Parameters": {
        "main": [
          [
            {
              "index": 0,
              "node": "Validate Build Request",
              "type": "main"
            }
          ]
        ]
      },
      "GitHub: Dispatch Exact Build": {
        "main": [
          [
            {
              "index": 0,
              "node": "Wait for Trusted Build Callback",
              "type": "main"
            }
          ]
        ]
      },
      "Manual Trigger": {
        "main": [
          [
            {
              "index": 0,
              "node": "Build Parameters",
              "type": "main"
            }
          ]
        ]
      },
      "SSH: Prepare Candidate": {
        "main": [
          [
            {
              "index": 0,
              "node": "SSH: Status After Prepare",
              "type": "main"
            }
          ]
        ]
      },
      "SSH: Status After Prepare": {
        "main": [
          [
            {
              "index": 0,
              "node": "Verify Candidate Prepared",
              "type": "main"
            }
          ]
        ]
      },
      "SSH: Status Before Build": {
        "main": [
          [
            {
              "index": 0,
              "node": "GitHub: Dispatch Exact Build",
              "type": "main"
            }
          ]
        ]
      },
      "Validate Build Request": {
        "main": [
          [
            {
              "index": 0,
              "node": "SSH: Status Before Build",
              "type": "main"
            }
          ]
        ]
      },
      "Validate Release Manifest": {
        "main": [
          [
            {
              "index": 0,
              "node": "SSH: Prepare Candidate",
              "type": "main"
            }
          ]
        ]
      },
      "Wait for Trusted Build Callback": {
        "main": [
          [
            {
              "index": 0,
              "node": "Validate Release Manifest",
              "type": "main"
            }
          ]
        ]
      }
    },
    "id": "RTOCNewAPIBuildV2",
    "meta": null,
    "name": "RTOC New API / 01 Build and Prepare",
    "nodes": [
      {
        "id": "newapi-v2-build-trigger",
        "name": "Manual Trigger",
        "parameters": {},
        "position": [
          0,
          0
        ],
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1
      },
      {
        "id": "newapi-v2-build-parameters",
        "name": "Build Parameters",
        "parameters": {
          "jsonOutput": "{\"confirm\":\"CHANGE_ME\",\"commitSha\":\"CHANGE_ME_40_HEX\"}",
          "mode": "raw",
          "options": {}
        },
        "position": [
          260,
          0
        ],
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4
      },
      {
        "id": "newapi-v2-build-validate",
        "name": "Validate Build Request",
        "parameters": {
          "jsCode": "const v = $input.first().json;\nif (v.confirm !== 'PREPARE') throw new Error('confirm must be PREPARE');\nif (!/^[0-9a-f]{40}$/.test(v.commitSha)) {\n  throw new Error('commitSha must be an exact 40-character lowercase SHA');\n}\nconst now = Date.now();\nconst execution = String($execution.id).replace(/[^A-Za-z0-9._-]/g, '-');\nconst buildRequestId = `newapi-${v.commitSha.slice(0, 12)}-${execution}-${now}`;\nconst releaseId = `newapi-${v.commitSha.slice(0, 12)}-${now}`;\nconst resumeUrl = $execution.resumeUrl;\nconst queryIndex = resumeUrl.indexOf('?');\nconst suffix = '/newapi-build-result';\nconst callbackUrl = queryIndex === -1\n  ? `${resumeUrl}${suffix}`\n  : `${resumeUrl.slice(0, queryIndex)}${suffix}${resumeUrl.slice(queryIndex)}`;\nreturn [{\n  json: {\n    commitSha: v.commitSha,\n    buildRequestId,\n    releaseId,\n    callbackUrl,\n    requestedAt: new Date(now).toISOString(),\n  },\n}];",
          "language": "javaScript",
          "mode": "runOnceForAllItems"
        },
        "position": [
          520,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "credentials": {
          "sshPrivateKey": {
            "id": "RTOCNewAPIDeploySSH001",
            "name": "RTOC NewAPI Deploy SSH"
          }
        },
        "id": "newapi-v2-build-status-before",
        "name": "SSH: Status Before Build",
        "parameters": {
          "authentication": "privateKey",
          "command": "status",
          "cwd": "/",
          "operation": "execute",
          "resource": "command"
        },
        "position": [
          800,
          0
        ],
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1
      },
      {
        "credentials": {
          "httpHeaderAuth": {
            "id": "RTOCNewAPIGitHubActions001",
            "name": "RTOC NewAPI GitHub Actions"
          }
        },
        "id": "newapi-v2-build-dispatch",
        "name": "GitHub: Dispatch Exact Build",
        "parameters": {
          "authentication": "genericCredentialType",
          "contentType": "json",
          "genericAuthType": "httpHeaderAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/vnd.github+json"
              },
              {
                "name": "X-GitHub-Api-Version",
                "value": "2022-11-28"
              }
            ]
          },
          "jsonBody": "={{ { ref: 'main', inputs: { commit_sha: $('Validate Build Request').first().json.commitSha, build_request_id: $('Validate Build Request').first().json.buildRequestId, callback_url: $('Validate Build Request').first().json.callbackUrl } } }}",
          "method": "POST",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "outputPropertyName": "body",
                "responseFormat": "text"
              }
            },
            "timeout": 30000
          },
          "sendBody": true,
          "sendHeaders": true,
          "specifyBody": "json",
          "specifyHeaders": "keypair",
          "url": "https://api.github.com/repos/hechuyi/new-api-rtoc/actions/workflows/rtoc-backend-image.yml/dispatches"
        },
        "position": [
          1080,
          0
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4
      },
      {
        "id": "newapi-v2-build-wait",
        "name": "Wait for Trusted Build Callback",
        "parameters": {
          "httpMethod": "POST",
          "incomingAuthentication": "none",
          "limitType": "afterTimeInterval",
          "limitWaitTime": true,
          "options": {
            "noResponseBody": true,
            "webhookSuffix": "newapi-build-result"
          },
          "responseCode": 202,
          "responseMode": "onReceived",
          "resume": "webhook",
          "resumeAmount": 45,
          "resumeUnit": "minutes"
        },
        "position": [
          1360,
          0
        ],
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1
      },
      {
        "id": "newapi-v2-build-manifest",
        "name": "Validate Release Manifest",
        "parameters": {
          "jsCode": "const request = $('Validate Build Request').first().json;\nconst callback = $input.first().json;\nconst manifest = callback.body ?? callback;\nif (manifest.status === 'failed') {\n  if (manifest.build_request_id !== request.buildRequestId) {\n    throw new Error('failed build_request_id does not match this execution');\n  }\n  if (manifest.commit_sha !== request.commitSha) {\n    throw new Error('failed commit_sha does not match the requested commit');\n  }\n  throw new Error(\n    `GitHub build failed in run ${manifest.workflow_run_id}, attempt ${manifest.workflow_attempt}`,\n  );\n}\nif (manifest.schema_version !== 1) throw new Error('invalid schema_version');\nif (manifest.service !== 'newapi') throw new Error('invalid service');\nif (manifest.build_request_id !== request.buildRequestId) {\n  throw new Error('build_request_id does not match this execution');\n}\nif (manifest.commit_sha !== request.commitSha) {\n  throw new Error('commit_sha does not match the requested commit');\n}\nif (manifest.platform !== 'linux/amd64') throw new Error('invalid platform');\nif (manifest.tests !== 'passed') throw new Error('tests did not pass');\nif (manifest.image !== 'ghcr.io/hechuyi/new-api-rtoc') {\n  throw new Error('unexpected image repository');\n}\nif (!/^sha256:[0-9a-f]{64}$/.test(manifest.image_digest)) {\n  throw new Error('invalid image_digest');\n}\nif (!/^sha256:[0-9a-f]{64}$/.test(manifest.image_id)) {\n  throw new Error('invalid image_id');\n}\nif (manifest.image_id !== manifest.image_digest) {\n  throw new Error('image_id must match image_digest');\n}\nif (!/^sha256:[0-9a-f]{64}$/.test(manifest.image_config_digest)) {\n  throw new Error('invalid image_config_digest');\n}\nif (!Number.isSafeInteger(manifest.workflow_run_id) || manifest.workflow_run_id < 1) {\n  throw new Error('invalid workflow_run_id');\n}\nif (!Number.isSafeInteger(manifest.workflow_attempt) || manifest.workflow_attempt < 1) {\n  throw new Error('invalid workflow_attempt');\n}\nconst immutableImage = `${manifest.image}@${manifest.image_digest}`;\nconst command = `prepare ${immutableImage} ${manifest.image_id} ${manifest.commit_sha} ${request.releaseId}`;\nreturn [{ json: { ...request, manifest, immutableImage, command } }];",
          "language": "javaScript",
          "mode": "runOnceForAllItems"
        },
        "position": [
          1640,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "credentials": {
          "sshPrivateKey": {
            "id": "RTOCNewAPIDeploySSH001",
            "name": "RTOC NewAPI Deploy SSH"
          }
        },
        "id": "newapi-v2-build-prepare",
        "name": "SSH: Prepare Candidate",
        "parameters": {
          "authentication": "privateKey",
          "command": "={{ $json.command }}",
          "cwd": "/",
          "operation": "execute",
          "resource": "command"
        },
        "position": [
          1920,
          0
        ],
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1
      },
      {
        "credentials": {
          "sshPrivateKey": {
            "id": "RTOCNewAPIDeploySSH001",
            "name": "RTOC NewAPI Deploy SSH"
          }
        },
        "id": "newapi-v2-build-status-after",
        "name": "SSH: Status After Prepare",
        "parameters": {
          "authentication": "privateKey",
          "command": "status",
          "cwd": "/",
          "operation": "execute",
          "resource": "command"
        },
        "position": [
          2200,
          0
        ],
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1
      },
      {
        "id": "newapi-v2-build-verify",
        "name": "Verify Candidate Prepared",
        "parameters": {
          "jsCode": "const beforeResult = $('SSH: Status Before Build').first().json;\nconst prepareResult = $('SSH: Prepare Candidate').first().json;\nconst statusResult = $input.first().json;\nif (beforeResult.code !== 0) {\n  throw new Error(`status before build failed: ${beforeResult.stderr}`);\n}\nif (prepareResult.code !== 0) {\n  throw new Error(`candidate prepare failed: ${prepareResult.stderr}`);\n}\nif (statusResult.code !== 0) {\n  throw new Error(`status after prepare failed: ${statusResult.stderr}`);\n}\nconst before = JSON.parse(beforeResult.stdout);\nconst prepare = JSON.parse(prepareResult.stdout);\nconst after = JSON.parse(statusResult.stdout);\nconst release = $('Validate Release Manifest').first().json;\nif (!before.ok || !prepare.ok || !after.ok) throw new Error('deployment command failed');\nif (before.active_slot !== after.active_slot) {\n  throw new Error('active slot changed during prepare');\n}\nfor (const slot of ['a', 'b']) {\n  if (before.slots[slot].weight !== after.slots[slot].weight) {\n    throw new Error(`slot ${slot} weight changed during prepare`);\n  }\n}\nif (after.prepared_release !== release.releaseId) {\n  throw new Error('prepared release does not match requested release');\n}\nif (after.prepared_slot !== before.inactive_slot) {\n  throw new Error('candidate was not prepared in the inactive slot');\n}\nreturn [{\n  json: {\n    ok: true,\n    state: 'AWAITING_APPROVAL',\n    release: release.releaseId,\n    commit_sha: release.commitSha,\n    image: release.immutableImage,\n    image_digest: release.manifest.image_digest,\n    image_id: prepare.image_id,\n    image_config_digest: release.manifest.image_config_digest,\n    workflow_run_id: release.manifest.workflow_run_id,\n    active_slot: after.active_slot,\n    prepared_slot: after.prepared_slot,\n    weights: {\n      a: after.slots.a.weight,\n      b: after.slots.b.weight,\n    },\n  },\n}];",
          "language": "javaScript",
          "mode": "runOnceForAllItems"
        },
        "position": [
          2480,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      }
    ],
    "pinData": null,
    "settings": {
      "callerPolicy": "workflowsFromSameOwner",
      "executionOrder": "v1",
      "saveExecutionProgress": true,
      "saveManualExecutions": true
    },
    "staticData": null,
    "tags": [],
    "versionId": "21440f14-2376-4733-84cd-8f11831c5d8d"
  },
  {
    "active": false,
    "connections": {
      "Cutover Parameters": {
        "main": [
          [
            {
              "index": 0,
              "node": "SSH: Status Before Cutover",
              "type": "main"
            }
          ]
        ]
      },
      "Manual Trigger": {
        "main": [
          [
            {
              "index": 0,
              "node": "Cutover Parameters",
              "type": "main"
            }
          ]
        ]
      },
      "SSH: Cut Over Candidate": {
        "main": [
          [
            {
              "index": 0,
              "node": "SSH: Status After Cutover",
              "type": "main"
            }
          ]
        ]
      },
      "SSH: Status After Cutover": {
        "main": [
          [
            {
              "index": 0,
              "node": "Verify Cutover",
              "type": "main"
            }
          ]
        ]
      },
      "SSH: Status Before Cutover": {
        "main": [
          [
            {
              "index": 0,
              "node": "Validate Cutover Request",
              "type": "main"
            }
          ]
        ]
      },
      "Validate Cutover Request": {
        "main": [
          [
            {
              "index": 0,
              "node": "SSH: Cut Over Candidate",
              "type": "main"
            }
          ]
        ]
      }
    },
    "id": "RTOCNewAPICutoverV2",
    "meta": null,
    "name": "RTOC New API / 02 Cut Over Prepared Candidate",
    "nodes": [
      {
        "id": "newapi-v2-cutover-trigger",
        "name": "Manual Trigger",
        "parameters": {},
        "position": [
          0,
          0
        ],
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1
      },
      {
        "id": "newapi-v2-cutover-parameters",
        "name": "Cutover Parameters",
        "parameters": {
          "jsonOutput": "{\"confirm\":\"CHANGE_ME\",\"release\":\"CHANGE_ME\"}",
          "mode": "raw",
          "options": {}
        },
        "position": [
          260,
          0
        ],
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4
      },
      {
        "credentials": {
          "sshPrivateKey": {
            "id": "RTOCNewAPIDeploySSH001",
            "name": "RTOC NewAPI Deploy SSH"
          }
        },
        "id": "newapi-v2-cutover-status-before",
        "name": "SSH: Status Before Cutover",
        "parameters": {
          "authentication": "privateKey",
          "command": "status",
          "cwd": "/",
          "operation": "execute",
          "resource": "command"
        },
        "position": [
          520,
          0
        ],
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1
      },
      {
        "id": "newapi-v2-cutover-validate",
        "name": "Validate Cutover Request",
        "parameters": {
          "jsCode": "const v = $('Cutover Parameters').first().json;\nif (v.confirm !== 'CUTOVER') throw new Error('confirm must be CUTOVER');\nif (!/^[A-Za-z0-9._:@/+%-]+$/.test(v.release)) {\n  throw new Error('invalid release identifier');\n}\nconst status = JSON.parse($input.first().json.stdout);\nif (!status.ok) throw new Error('status failed');\nif (status.prepared_release !== v.release) {\n  throw new Error('prepared_release does not match requested cutover');\n}\nif (!['a', 'b'].includes(status.prepared_slot)) {\n  throw new Error('prepared slot is missing');\n}\nconst release = v.release;\nreturn [{ json: { command: `cutover ${release}`, release, before: status } }];",
          "language": "javaScript",
          "mode": "runOnceForAllItems"
        },
        "position": [
          800,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "credentials": {
          "sshPrivateKey": {
            "id": "RTOCNewAPIDeploySSH001",
            "name": "RTOC NewAPI Deploy SSH"
          }
        },
        "id": "newapi-v2-cutover-command",
        "name": "SSH: Cut Over Candidate",
        "parameters": {
          "authentication": "privateKey",
          "command": "={{ $json.command }}",
          "cwd": "/",
          "operation": "execute",
          "resource": "command"
        },
        "position": [
          1080,
          0
        ],
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1
      },
      {
        "credentials": {
          "sshPrivateKey": {
            "id": "RTOCNewAPIDeploySSH001",
            "name": "RTOC NewAPI Deploy SSH"
          }
        },
        "id": "newapi-v2-cutover-status-after",
        "name": "SSH: Status After Cutover",
        "parameters": {
          "authentication": "privateKey",
          "command": "status",
          "cwd": "/",
          "operation": "execute",
          "resource": "command"
        },
        "position": [
          1360,
          0
        ],
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1
      },
      {
        "id": "newapi-v2-cutover-verify",
        "name": "Verify Cutover",
        "parameters": {
          "jsCode": "const request = $('Validate Cutover Request').first().json;\nconst result = JSON.parse($('SSH: Cut Over Candidate').first().json.stdout);\nconst after = JSON.parse($input.first().json.stdout);\nif (!result.ok || !after.ok) throw new Error('cutover command failed');\nif (after.active_slot !== request.before.prepared_slot) {\n  throw new Error('prepared slot did not become active');\n}\nif (after.active_slot === request.before.active_slot) {\n  throw new Error('active slot did not change');\n}\nif (after.slots[after.active_slot].weight !== 100) {\n  throw new Error('new active slot weight is not 100');\n}\nif (after.slots[request.before.active_slot].weight !== 0) {\n  throw new Error('previous active slot weight is not 0');\n}\nreturn [{\n  json: {\n    ok: true,\n    state: 'ACTIVE',\n    release: request.release,\n    active_slot: after.active_slot,\n    previous_slot: request.before.active_slot,\n    weights: {\n      a: after.slots.a.weight,\n      b: after.slots.b.weight,\n    },\n  },\n}];",
          "language": "javaScript",
          "mode": "runOnceForAllItems"
        },
        "position": [
          1640,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      }
    ],
    "pinData": null,
    "settings": {
      "callerPolicy": "workflowsFromSameOwner",
      "executionOrder": "v1",
      "saveExecutionProgress": true,
      "saveManualExecutions": true
    },
    "staticData": null,
    "tags": [],
    "versionId": "dc2e671a-ff63-4458-b6bc-f93d796e861a"
  },
  {
    "active": false,
    "connections": {
      "Manual Trigger": {
        "main": [
          [
            {
              "index": 0,
              "node": "Rollback Parameters",
              "type": "main"
            }
          ]
        ]
      },
      "Rollback Parameters": {
        "main": [
          [
            {
              "index": 0,
              "node": "Validate Rollback Request",
              "type": "main"
            }
          ]
        ]
      },
      "SSH: Roll Back": {
        "main": [
          [
            {
              "index": 0,
              "node": "SSH: Status After Rollback",
              "type": "main"
            }
          ]
        ]
      },
      "SSH: Status After Rollback": {
        "main": [
          [
            {
              "index": 0,
              "node": "Verify Rollback",
              "type": "main"
            }
          ]
        ]
      },
      "SSH: Status Before Rollback": {
        "main": [
          [
            {
              "index": 0,
              "node": "SSH: Roll Back",
              "type": "main"
            }
          ]
        ]
      },
      "Validate Rollback Request": {
        "main": [
          [
            {
              "index": 0,
              "node": "SSH: Status Before Rollback",
              "type": "main"
            }
          ]
        ]
      }
    },
    "id": "RTOCNewAPIRollbackV2",
    "meta": null,
    "name": "RTOC New API / 03 Roll Back",
    "nodes": [
      {
        "id": "newapi-v2-rollback-trigger",
        "name": "Manual Trigger",
        "parameters": {},
        "position": [
          0,
          0
        ],
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1
      },
      {
        "id": "newapi-v2-rollback-parameters",
        "name": "Rollback Parameters",
        "parameters": {
          "jsonOutput": "{\"confirm\":\"CHANGE_ME\"}",
          "mode": "raw",
          "options": {}
        },
        "position": [
          260,
          0
        ],
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4
      },
      {
        "id": "newapi-v2-rollback-validate",
        "name": "Validate Rollback Request",
        "parameters": {
          "jsCode": "const v = $input.first().json;\nif (v.confirm !== 'ROLLBACK') throw new Error('confirm must be ROLLBACK');\nreturn [{ json: { command: 'rollback' } }];",
          "language": "javaScript",
          "mode": "runOnceForAllItems"
        },
        "position": [
          520,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "credentials": {
          "sshPrivateKey": {
            "id": "RTOCNewAPIDeploySSH001",
            "name": "RTOC NewAPI Deploy SSH"
          }
        },
        "id": "newapi-v2-rollback-status-before",
        "name": "SSH: Status Before Rollback",
        "parameters": {
          "authentication": "privateKey",
          "command": "status",
          "cwd": "/",
          "operation": "execute",
          "resource": "command"
        },
        "position": [
          800,
          0
        ],
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1
      },
      {
        "credentials": {
          "sshPrivateKey": {
            "id": "RTOCNewAPIDeploySSH001",
            "name": "RTOC NewAPI Deploy SSH"
          }
        },
        "id": "newapi-v2-rollback-command",
        "name": "SSH: Roll Back",
        "parameters": {
          "authentication": "privateKey",
          "command": "rollback",
          "cwd": "/",
          "operation": "execute",
          "resource": "command"
        },
        "position": [
          1080,
          0
        ],
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1
      },
      {
        "credentials": {
          "sshPrivateKey": {
            "id": "RTOCNewAPIDeploySSH001",
            "name": "RTOC NewAPI Deploy SSH"
          }
        },
        "id": "newapi-v2-rollback-status-after",
        "name": "SSH: Status After Rollback",
        "parameters": {
          "authentication": "privateKey",
          "command": "status",
          "cwd": "/",
          "operation": "execute",
          "resource": "command"
        },
        "position": [
          1360,
          0
        ],
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1
      },
      {
        "id": "newapi-v2-rollback-verify",
        "name": "Verify Rollback",
        "parameters": {
          "jsCode": "const before = JSON.parse($('SSH: Status Before Rollback').first().json.stdout);\nconst result = JSON.parse($('SSH: Roll Back').first().json.stdout);\nconst after = JSON.parse($input.first().json.stdout);\nif (!before.ok || !result.ok || !after.ok) throw new Error('rollback command failed');\nif (before.active_slot === after.active_slot) {\n  throw new Error('active slot did not change during rollback');\n}\nif (after.slots[after.active_slot].weight !== 100) {\n  throw new Error('rollback target weight is not 100');\n}\nif (after.slots[before.active_slot].weight !== 0) {\n  throw new Error('rolled back slot weight is not 0');\n}\nreturn [{\n  json: {\n    ok: true,\n    state: 'ROLLED_BACK',\n    active_slot: after.active_slot,\n    previous_slot: before.active_slot,\n    weights: {\n      a: after.slots.a.weight,\n      b: after.slots.b.weight,\n    },\n  },\n}];",
          "language": "javaScript",
          "mode": "runOnceForAllItems"
        },
        "position": [
          1640,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      }
    ],
    "pinData": null,
    "settings": {
      "callerPolicy": "workflowsFromSameOwner",
      "executionOrder": "v1",
      "saveExecutionProgress": true,
      "saveManualExecutions": true
    },
    "staticData": null,
    "tags": [],
    "versionId": "605e6b64-0dc0-40cb-9ab5-71733362d0f1"
  }
]
